@define-color window_bg_color {{ .palette.bg.surface }};
@define-color window_fg_color {{ .palette.fg.primary }};

@define-color view_bg_color {{ .palette.bg.editor }};
@define-color view_fg_color {{ .palette.fg.editor }};

@define-color headerbar_bg_color {{ .palette.bg.titlebar }};
@define-color headerbar_fg_color {{ .palette.fg.primary }};
@define-color headerbar_border_color {{ .palette.border.default }};
@define-color headerbar_backdrop_color {{ .palette.bg.titlebar_inactive }};
@define-color headerbar_shade_color {{ .palette.shade.medium.rgba }};
@define-color headerbar_darker_shade_color {{ .palette.shade.strong.rgba }};

@define-color sidebar_bg_color {{ .palette.bg.panel }};
@define-color sidebar_fg_color {{ .palette.fg.primary }};
@define-color sidebar_backdrop_color {{ .palette.bg.canvas }};
@define-color sidebar_shade_color {{ .palette.shade.subtle.rgba }};
@define-color sidebar_border_color {{ .palette.border.default }};

@define-color secondary_sidebar_bg_color {{ .palette.bg.canvas }};
@define-color secondary_sidebar_fg_color {{ .palette.fg.primary }};
@define-color secondary_sidebar_backdrop_color {{ .palette.bg.surface }};
@define-color secondary_sidebar_shade_color {{ .palette.shade.subtle.rgba }};
@define-color secondary_sidebar_border_color {{ .palette.border.default }};

@define-color card_bg_color {{ .palette.bg.editor }};
@define-color card_fg_color {{ .palette.fg.primary }};
@define-color card_shade_color {{ .palette.shade.subtle.rgba }};

@define-color dialog_bg_color {{ .palette.bg.surface }};
@define-color dialog_fg_color {{ .palette.fg.primary }};

@define-color popover_bg_color {{ .palette.bg.editor }};
@define-color popover_fg_color {{ .palette.fg.primary }};
@define-color popover_shade_color {{ .palette.shade.subtle.rgba }};

@define-color thumbnail_bg_color {{ .palette.bg.editor }};
@define-color thumbnail_fg_color {{ .palette.fg.primary }};

@define-color overview_bg_color {{ .palette.bg.canvas }};
@define-color overview_fg_color {{ .palette.fg.primary }};

@define-color shade_color {{ .palette.shade.subtle.rgba }};
@define-color scrollbar_outline_color {{ .palette.bg.editor }};

@define-color accent_bg_color {{ .palette.accent.primary }};
@define-color accent_fg_color {{ .palette.bg.editor }};

@define-color destructive_bg_color {{ .palette.state.error }};
@define-color destructive_fg_color {{ .palette.bg.editor }};

@define-color error_bg_color {{ .palette.state.error }};
@define-color error_fg_color {{ .palette.bg.editor }};

@define-color success_bg_color {{ .palette.state.success }};
@define-color success_fg_color {{ .palette.bg.editor }};

@define-color warning_bg_color {{ .palette.state.warning }};
@define-color warning_fg_color {{ .palette.bg.editor }};
