[Settings]
gtk-theme-name=Adwaita
gtk-icon-theme-name=Adwaita
gtk-cursor-theme-name=Adwaita
gtk-cursor-theme-size=24
gtk-font-name={{ .font.sans }} {{ .font.size.ui }}
gtk-application-prefer-dark-theme=false
