//
pref("sidebar.revamp", true);
pref("sidebar.verticalTabs", true);
pref("sidebar.visibility", "always-show");
defaultPref("sidebar.main.tools", "history,bookmarks");

defaultPref("browser.compactmode.show", true);
defaultPref("browser.uidensity", 1);

defaultPref("browser.startup.page", 3);

defaultPref("browser.newtabpage.activity-stream.showSponsored", false);
defaultPref("browser.newtabpage.activity-stream.showSponsoredTopSites", false);
defaultPref("browser.tabs.warnOnClose", false);
defaultPref("browser.aboutConfig.showWarning", false);

defaultPref("widget.use-xdg-desktop-portal.file-picker", 1);

defaultPref("devtools.theme", "light");

defaultPref("font.name.serif.x-western", "{{ font.serif }}");
defaultPref("font.name.sans-serif.x-western", "{{ font.sans }}");
defaultPref("font.name.monospace.x-western", "{{ font.mono }}");
defaultPref("font.name.serif.x-unicode", "{{ font.serif }}");
defaultPref("font.name.sans-serif.x-unicode", "{{ font.sans }}");
defaultPref("font.name.monospace.x-unicode", "{{ font.mono }}");
defaultPref("font.default.x-western", "sans-serif");
defaultPref("font.default.x-unicode", "sans-serif");
